.multiple-level-picker {
  border: 1px solid #DDD;
  max-width: 300px;
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.multiple-level-picker ul, .multiple-level-picker li {
  list-style: none;
  margin: 0;
  padding: 0; }

.multiple-level-picker .mlp-header {
  overflow: hidden;
  padding: 8px 10px; }

.multiple-level-picker .mlp-title {
  float: left; }

.multiple-level-picker .mlp-limit {
  float: right; }

.multiple-level-picker .mlp-nav {
  border-bottom: 1px solid #DDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.multiple-level-picker .mlp-tab {
  display: block;
  border: 1px solid #DDD;
  padding: .3em .5em;
  position: relative;
  bottom: -1px;
  border-right: 0;
  color: #666;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }

.multiple-level-picker .mlp-tab span {
  display: block;
  max-width: 6em;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden; }

.multiple-level-picker .mlp-tab.__active {
  border-bottom-color: #FFF;
  border-right: 1px solid #DDD;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  color: #1EA555; }

.multiple-level-picker .mlp-footer {
  text-align: center;
  padding: 10px; }

.multiple-level-picker .mlp-footer button {
  margin: 0 .3em; }

.multiple-level-picker .mlp-container {
  position: relative;
  height: 350px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.multiple-level-picker .mlp-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #FFF; }
  .multiple-level-picker .mlp-layer.__slidein {
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important; }

.multiple-level-picker .mlp-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px; }

.multiple-level-picker .mlp-itm:hover {
  background: #F2F2F2; }

.multiple-level-picker .mlp-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 1;
  margin: 0;
  padding: .65em 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 30px);
  flex: 0 0 calc(100% - 30px); }

.multiple-level-picker .mlp-forward {
  display: block;
  border: none;
  background: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px; }

.multiple-level-picker .mlp-fcheck {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: .5em;
  border-radius: 50% 50%; }
