.multiple-level-picker-container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  z-index: -99;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s ease-out;
}



.multiple-level-picker-container.__active {
  z-index: 99;
  pointer-events: unset;
  opacity: 1;
  transform: translateY(0);
   
}
.multiple-level-picker {
  border: 1px solid #ddd;
  padding: 10px;
} 
/* Style for tree mode */
.multiple-level-picker.mlp-mode__tree .mlp-path,
.multiple-level-picker.mlp-mode__tree .mlp-forward, 
.multiple-level-picker.mlp-mode__tree .mlp-backward {
  display: none !important;
}


.multiple-level-picker ul, 
.multiple-level-picker li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mlp-header {
  overflow: hidden;
  padding-bottom: .3em;
}
.mlp-title {
  float: left;
}
.mlp-count {
  float: right;
}
.mlp-selector {
  overflow: auto;
  background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0,0,0,.1), rgba(0,0,0,0)), radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
	background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.1), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 30px, 100% 30px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}

li.mlp-itm {
  overflow: hidden;
}

.mlp-container.__active {
  height: unset!important;
}

.mlp-container.__active > ul.mlp-level {
  transform: translateY(0);
  opacity: 1;
}
.mlp-container > ul.mlp-level {
  transform: translateY(-4px);
  opacity: .5;
  transition: all .3s ease-out;
}

ul.mlp-level {
  clear: both;
}

.mlp-level input[type="checkbox"] + .u-check-icon-checkbox-v4 {
  background: #FFF;
}
.mlp-level input[type="checkbox"][disabled] + .u-check-icon-checkbox-v4 {
  border-color: #CCC;
  color: #CCC;
  background: #F2F2F2;
}
.mlp-single{
  display: flex;
  overflow: hidden;
  padding: .5em 0 .5em;
}
.mlp-single:hover {
  background: rgba(0, 0, 0, .05);
}
.mlp-container[data-level="2"] .mlp-single {
  padding-left: .3em;
}
.mlp-container[data-level="3"] .mlp-single {
  padding-left: 1.5em;
}
.mlp-container:not([data-level="1"]) .mlp-single::before {
  content: '∟';
  transform: scale(.7) translateY(-2px);
  color: #AAA;
  margin-right: .2em;
}

.mlp-toggle,
.mlp-forward {
  display: block;
  border: none;
  background: none;
  color: #000;
  flex: 1 1 auto;
  text-align: right;
  outline: none !important;
}

.mlp-toggle:active,
.mlp-forward:active {
  outline: none;
}
.mlp-label {
  display: block;
  margin-bottom: 0;
  flex: 4 4 auto;
}
.mlp-label.__accept {
  padding-left: 25px;
}
.mlp-footer {
  margin-top: .5em;
  text-align: center;
}
.mlp-footer button{
  margin: .3em;
}
