.multiple-level-picker {
  & {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mlp-{
    &entity {
      border: 1px solid #DDD;
      max-width: 320px;
      width: 90%;
      box-sizing: border-box;
      background: #FFF;
    }
    &header{
      overflow: hidden;
      padding: 8px 10px;
    }
    &title {
      float: left;
    }
    &limit {
      float: right;
    }
    &nav {
      & {
        display: flex;
        overflow: hidden;
        position: relative;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #DDD;
      }
    }
    &tab {
      & {
        display: block;
        border: 1px solid #DDD; 
        padding: .3em .5em;
        position: relative;
        border-right: 0;
        color: #666;
        cursor: pointer;
        flex: 0 1 auto;
        transition: .2s ease-out; 
        background: #FFF;
        opacity: 0;
        transform: translateY(3px);
      }
      &:first-child {
        border-left: 0;
      }
      span {
        display: block;
        max-width: 8em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &.__active {
        border-bottom-color: #FFF;
        border-right: 1px solid #DDD;
        opacity: 1;
        transform: translateY(0);
        color: #1EA555;
      }
    }
    &footer {
      & {
        text-align: center;
        padding: 10px;
      }
      button {
        margin: 0 .3em;
      }
    }
    &container {
      position: relative;
      height: 350px;
      overflow: hidden;
      box-sizing: border-box;
    }
    &loader {
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .8);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1EA555;
      font-size: 42px;
    }
    &layer {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: #FFF;

      &.__slidein {
        transform: translateX(0) !important; 
      }
    }
    &itm {
      & {
        display: flex;
        padding: 0 10px;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
    &label {
      display: flex;
      position: relative;
      line-height: 1;
      margin: 0;
      padding: .65em 0;
      align-items: center;
      flex: 0 0 calc(100% - 30px);
    }
    &forward {
      display: block;
      border: none;
      background: none;
      flex: 0 0 30px;
      outline: none !important;
    }
    &checkbox + .mlp-fcheck {
      background: #FFF;
    }
    &checkbox:checked + .mlp-fcheck{
      color: #FFF !important;
      background: #1EA555;
    }
    &checkbox[disabled] + .mlp-fcheck{
      background: #F2F2F2; 
    }
    &fcheck {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-left: .5em;
      border-radius: 50% 50%;
    }
    &record {
      border-top: 1px solid #DDD;
      background: #F2F2F2;
      overflow-x: auto;
      padding: 0 5px;
    }
    &tag {
      & {
        display: inline-block;
        background: #FFF;
        color: #666;
        border: 1px solid #DDD;
        padding: .2em .5em;
        line-height: 1.7;
        margin: 3px 2px;
        border-radius: 1.5em;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        max-width: 8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &delete {
      margin-left: .3em;
    }
  }
}

@media only screen and (max-width: 550px){
  .multiple-level-picker {
    & {
      height: 480px; 
      display: flex;
      flex-direction: column;
    }
    .mlp- {
      &record {
        display: flex;
        overflow-x: auto;
      }
      &tag {
        flex: 0 0 auto;
        margin: 8px 3px;
      }
    }
  }
}
